<section class="content">
    <div class="block-content">
        <h3 class="block-title">Contacto</h3>
        <div class="row">
            <div class="col-md-6">
                
                
                <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" formControlName="name">
                    </div>
                    <div class="form-group">
                      <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" formControlName="email">
                    </div>
                    <div class="form-group">
                      <textarea class="form-control" rows="5" id="message" placeholder="Ingrese su mensaje" formControlName="message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                  </form>
                  
                  
                  
            
            
            </div>
  
            <div class="col-md-5 offset-md-1">
                <div class="contact-content">
                    <div class="contact-icon">
                        <i class="ion-ios-telephone-outline"></i>
                    </div>
                    <div class="contact-details">
                        <h5>Telefono</h5>
                        <p> <a href="tel:+51959747175">+56977601880</a></p>
                    </div>
                </div>
                <div class="contact-content">
                    <div class="contact-icon">
                        <i class="ion-ios-email-outline"></i>
                    </div>
                    <div class="contact-details">
                        <h5>Correo</h5>
                        <p>cesar.cssoto@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  