<section class="content" id="about">
    <div class="block-content">
        <h3 class="block-title">Perfil</h3>
        <h3 class="subheading"><strong>Ingeniero en informática empresarial & Desarrollador BackEnd/FrontEnd</strong></h3>
        <p>2 años de experiencia, enfocado mayormente en desarrollo back end. Tengo experiencia con JSON, XML, Java, 
            SpringBoot, Spring Security, JPA, MySQL, bases de datos no relacionales, 
            JavaScript, Micro Servicios, Angular . Experiencia con trabajo bajo metodologías ágiles.</p>
        <div class="info-list row">
            <div class="col-sm-6"><span>Nombre : </span> César Soto</div>
            <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Enero 15, 1998 </div>
            <div class="col-sm-6"><span>Dirección : </span> Talca, Chile</div>
            <div class="col-sm-6"><span>Email : </span> cesar.cssoto@gmail.com</div>
            <div class="col-sm-6"><span>Telefono : </span> +56977601880</div>
            <div class="col-sm-6"><span>Interes : </span>Full-Time</div>
        </div>
    </div>
   
    <div class="block-content">
        <h3 class="block-title">Profesional</h3>

        <div *ngFor="let profex of cv.profesional">
            <label class="progress-bar-label">{{ profex.Nombre }}</label>
            <div class="progress">
                <div [style.width.%]=profex.Valor class="progress-bar" role="progressbar" 
                attr.aria-valuenow="{{ profex.Valor }}" aria-valuemin="0">
                    <span>{{ profex.Valor }}%</span>
                </div>
            </div>
        </div>

    </div>
    
    <div class="block-content">
        <h3 class="block-title">Experiencia</h3>
        <div class="timeline experience">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let expex of cv.experiencia">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><span>{{ expex.Empresa }}</span> - {{ expex.Cargo }}</h4>
                                  <h5> {{ expex.Fecha }} </h5>
                              </div>
                              <p>{{ expex.Descripcion }}</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-content">
        <h3 class="block-title">Educación</h3>
        <div class="timeline education">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                      <div *ngFor="let edux of cv.educacion">
                        <div class="exp">
                            <div class="hgroup">
                                <h4>{{ edux.Nombre }} | <a href="{{ edux.Url }}" target="_blank"><span>Ver Certificado</span></a></h4>
                                <h5>{{ edux.Fecha }}</h5>
                            </div>
                            <p>{{ edux.Descripcion }}</p> 
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">cesar.cssoto@gmail.com</a>
        </div>
    </div>
</section>
