<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div class="inline-menu-container">
  <span class="status">Disponibilidad inmediata</span>
  <ul class="inline-menu">
    <!--   <li class="portfolio menu-item">Proyectos</li>
      <li class="about menu-item">Resumen</li>
      <li class="blog menu-item">Skills</li>
      <li class="contact menu-item">Contacto</li> -->
      <li id="close" class="menu-item"><i class="ion-ios-close-empty"></i></li>
  </ul>
</div>
<section class="home">
<div class="bgScroll"></div>
  <div class="overlay opacity7"></div>
  <div class="container">

      <div class="name-block">
          <div class="name-block-container">
              <h1>César Soto Rojas</h1>
              <h2>Desarrollador BackEnd/FrontEnd</h2>
              <a target="_blank" href="https://drive.google.com/file/d/1H09hn4jMsTmSdyOxMSwZvNibCqh2Uw_6/view?usp=sharing" class="btn btn-download">Descargar CV</a>
              <a target="_blank" href="https://drive.google.com/file/d/1rD1DbY7tTYHTDQpr_hnLkf0LOamf6SA6/view?usp=sharing" class="btn btn-download">Download my CV in english</a>
              <ul class="social">
                <li><a href="https://www.linkedin.com/in/c%C3%A9sar-soto-135780190/" target="_blank"><i class="ion-social-linkedin" style="font-size: 27px;"></i></a></li>
                <li><a href="https://github.com/C3sar01" target="_blank"><i class="ion-social-github" style="font-size: 27px;"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=%2B56977601880&text=" target="_blank"><i class="ion-social-whatsapp" style="font-size: 27px;"></i></a></li>
                
              </ul>
          </div>
      </div>
      <div class="menu-blocks"> 
          <div class="about-block  menu-block">
              <div class="about-block-container">
                  <h2 class="about menu-item">Proyectos</h2>
              </div>
          </div>
          <div class="portfolio-block menu-block">
            <div class="portfolio-block-container">
                <h2 class="portfolio menu-item">Resumen</h2>
            </div>
        </div>
          <div class="blog-block  menu-block">
              <div class="blog-block-container">
                  <h2 class="blog menu-item">Stack tecnológico</h2>
              </div>
          </div>
          <div class="contact-block  menu-block">
              <div class="contact-block-container">
                  <h2 class="contact menu-item">Contáctame!</h2>
              </div>
          </div>
      </div>

      <div class="content-blocks portfolio">
        <app-resumen></app-resumen>
      </div>
      
      <div class="content-blocks blog">
          <app-blog></app-blog>
      </div>
      <div class="content-blocks contact">
          <app-contacto></app-contacto>
      </div>
      <div class="content-blocks about">
        <app-portafolio></app-portafolio>
      </div>

      <div class="content-blocks pop">
          <div id="close-pop" class="close-pop">Cerrar <i class="ion-ios-close-empty"></i></div>
          <section class="content"></section>
      </div>

  </div>
</section>

