<section class="content">
    <div class="block-content">
        <h3 class="block-title">Galería de proyectos propios</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-container row isotope" id="portfolio-container">
                    <!-- WORK 1 START -->
                    <div class="portfolio-container row isotope" id="portfolio-container"></div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a href="https://github.com/C3sar01/Reservas-Lingos.git" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Lingo's</h2>
                                        <hr>
                                        <p>Ver repositorio en github</p>
                                        
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="../../assets/images/portfolio/Img proyectos-portfolio/Home.jpg" alt="">
                                
                            </div>
                            
                        </a>
                    </div>
                    <hr>
                    <!-- WORK 1 END -->
                    <!-- WORK 2 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a href="https://github.com/C3sar01/Reservas-Lingos.git" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Lingo's galería</h2>
                                        <hr>
                                        <p>Ver repositorio en github</p>
                                        
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="../../assets/images/portfolio/Img proyectos-portfolio/Gallery.png" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 2 END -->
                    <!-- WORK 3 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a href="https://github.com/C3sar01/Reservas-Lingos.git" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Lingos perfil</h2>
                                        <hr>
                                        <p>Ver repositorio en github</p>
                                        
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="../../assets/images/portfolio/Img proyectos-portfolio/Pay.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 3 END -->
                    <!-- WORK 4 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                        <a href="https://github.com/C3sar01/Odoo-WebApp.git" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Modulo Odoo</h2>
                                        <hr>
                                        <p>Ver repositorio en github</p>
                                        
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="../../assets/images/portfolio/Img proyectos-portfolio/Odoo.png" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 4 END -->
                    <!-- WORK 5 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                        <a href="https://github.com/C3sar01/Odoo-WebApp.git" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Modulo Odoo</h2>
                                        <hr>
                                        <p>Ver repositorio en github</p>
                                        
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="../../assets/images/portfolio/Img proyectos-portfolio/CompraOdoo.png" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 5 END -->
                    <!-- WORK 6 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item design">
                        <a href="https://github.com/C3sar01/Odoo-WebApp.git" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Modulo Odoo</h2>
                                        <hr>
                                        <p>Ver repositorio en github</p>
                                        
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="../../assets/images/portfolio/Img proyectos-portfolio/ventaodoo.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 6 END -->
                    <!-- WORK 7 START -->
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item webdesign">
                        <a href="https://github.com/C3sar01/Odoo-WebApp.git" target="_blank">
                            <div class="portfolio-column">
                                <div class="portfolio-hover">
                                    <div class="portfolio-content">
                                        <h2>Modulo Odoo</h2>
                                        <hr>
                                        <p>Ver repositorio en github</p>
                                        
                                    </div>
                                    <div class="portfolio-overlay"></div>
                                </div>
                                <img src="../../assets/images/portfolio/Img proyectos-portfolio/registroventa.jpg" alt="">
                            </div>
                        </a>
                    </div>
                    <!-- WORK 7 END -->
                    
                   
                </div>
            </div>
        </div>
    </div>
   


    <div class="block-content">
        <h3 class="block-title">Proyectos</h3>
        <p><em>Para los proyectos desarrollados en NTT Data no pueden ser compartidas imagenes ni demasiados detalles por confidencialidad.</em></p>
        <div class="timeline experience">
            <div class="row">
                <div class="col-md-12">
                    <div class="exp-holder">
                        <div *ngFor="let proyecto of cv.proyecto">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><span>{{ proyecto.Empresa }}</span> - {{ proyecto.Nombre }}</h4>
                                  <h5> {{ proyecto.Fecha }} </h5>
                              </div>
                              <p>{{ proyecto.Descripcion }}</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 btn-email">
            <a class="btn lowercase">cesar.cssoto@gmail.com</a>
        </div>
    </div>
  </section>
  